*.pyc
__pycache__/
/README.html
output.txt
/staticfiles/*
/project_conf/folder_size_lim.txt
/project_conf/file_count_lim.txt

*.db
/media/*
/media_temp/*
venv/
venv2/
venv3/
/extstatic/
/project_conf/secret/
secret.txt

# OS files
*~
Desktop.ini
.DS_Store
.AppleDouble
.LSOverride
