*.pyc
__pycache__/
/README.html
output.*
/staticfiles/*

/media/*
/media_temp/*
/media
/media_temp
venv/
venv2/
venv3/
/extstatic/
/filebox/secret/
/filebox/local/
secret.txt

# OS files
*~
Desktop.ini
.DS_Store
.AppleDouble
.LSOverride
